<form id="add-user-form">
    <div class="form-group">
        <label for="handleInput">Username</label>
        <input id="handleInput" class="form-control" placeholder="handle" type="text" ng-model="auth.username"/>
    </div>

    <div class="form-group">
        <label for="passwordInput">Password</label>
        <input id="passwordInput" class="form-control" placeholder="password" type="password", ng-model="auth.password"/>
    </div>

    <div class="form-group">
        <!--<button type="button" class="btn btn-primary btn-block" ng-click="saveCurrentAttendee()">{{mode}}</button>-->
        <button id="return" type="button" class="btn btn-warning btn-block" ng-click="Login()">Login</button>
    </div>


<div id="auth-token">
    {{ auth.token }}
</div>

</form>