<!--<div ng-controller="searchController">-->

    <form>
    <div class="form-group">
        <label for="searchInput">Search</label>
        <input id="searchInput" class="form-control" placeholder="searchTerm" type="text" name="text" ng-model="text"/>
        <button ng-click="searchMessages()">Search</button>
    </div>
    </form>

    <!--<div ng-repeat="m in messages">
        {{ m.accountHandle }}
        {{ m.msgText }}
    </div>-->

    <!--<span><a href="#" ng-click="messagesShow = !messagesShow"  >Messages</a></span>-->
    <!--<span><a href="#" ng-click="getMessage()">Messages</a></span>-->

    <!--<div ng-show="messagesShow">-->
    <div style="overflow:auto;">
     <table class="table table-hover">
            <tr>
                <th>User</th>
                <th>Message</th>

            </tr>
            <tr ng-repeat="m in messages" >
                <!--<td  name="handle" ng-model="handle" ng-click="getMessages(m.accountHandle)"><a href="#/details/{{m.accountHandle}}">{{m.accountHandle}}</a></td>-->
                <td> <!--name="handle" ng-model="handle" ng-click="getMessages(m.accountHandle)">--><a href="#/details" ng-click="searchMessagesbyPoster(m.accountHandle)">{{m.accountHandle}}</a></td>
                <td>{{m.msgText}}</td>
            </tr>
     </table>

    </div>
<!--</div>-->

<div >
    {{ aToken }}
</div>