<div class ="greeting" ng-controller="mainController">

    <h1 class="page-header">Greetings!!</h1>
    <h2>Welcome {{isLoggedIn}}</h2>
   <!-- <h1>Greetings!! {{loggedInUser.username}}</h1>

</div>

<ul class="nav navbar-nav navbar-right" ng-show="loggedInUser">
    <li ng-class="{ active: isActive('/')}"><a href="#login">Logout</a></li>
     <li ng-class="{ active: isActive('/search')}"><a href="#search">Search</a></li>
     <li ng-class="{ active: isActive('/details')}"><a href="#details">Details</a></li>
</ul>

<div id ="menu">
    <li ng-class="{ active: isActive('/')}"><a href="#">Logout</a></li>
    <li ng-class="{ active: isActive('/search')}"><a href="#search">Search</a></li>
    <li ng-class="{ active: isActive('/details')}"><a href="#details">Details</a></li>-->

</div>

<div>
    {{ aToken }}
</div>