<!--<div class ="greeting" ng-controller="mainController">-->

<nav>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">twtr</a>
            <!-- <li ng-class="{ active: isActive('/login')}" ng-click="destroyToken()"><a href="#">Logout</a></li>-->

            <!--ng-show="isLoggedIn"--> <!-- TO DO: Show if user is logged in-->
            <ul class="nav navbar-nav navbar-right" >
                <li id="logout" ng-class="{ active: isActive('/login')}" ng-click="destroyToken()"><a href="#logout">Logout</a></li>
                <li id="search" ng-class="{active: isActive('/search')}"><a href="#/search">Search</a></li>

                <!--<form ng-controller="searchController">
                    <div class="form-group">
                        <li ng-class="{ active: isActive('/search')}"><a href="#/search"><label for="searchInput">Search</label></a></li>
                        <input id="searchInput" class="form-control" placeholder="searchTerm" type="text" name="text" ng-model="text"/>
                        <button ng-click="searchMessages()">Search</button>
                    </div></form>-->

                <li id="details" ng-class="{ active: isActive('/details')}"><a href="#/details">Details</a></li>
            </ul>
        </div>
        <!--</div>-->
    </div>
</nav>
<!--    <h1 class="page-header">Greetings!!</h1>
    <h2>Welcome {{isLoggedIn}}</h2>-->
   <!-- <h1>Greetings!! {{loggedInUser.username}}</h1>

</div>

<ul class="nav navbar-nav navbar-right" ng-show="loggedInUser">
    <li ng-class="{ active: isActive('/')}"><a href="#login">Logout</a></li>
     <li ng-class="{ active: isActive('/search')}"><a href="#search">Search</a></li>
     <li ng-class="{ active: isActive('/details')}"><a href="#details">Details</a></li>
</ul>

<div id ="menu">
    <li ng-class="{ active: isActive('/')}"><a href="#">Logout</a></li>
    <li ng-class="{ active: isActive('/search')}"><a href="#search">Search</a></li>
    <li ng-class="{ active: isActive('/details')}"><a href="#details">Details</a></li>-->

<!--</div>-->

<div>
    {{ aToken }}
    {{ isLoggedIn }}
</div>